<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceAsmxSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50653/WebServiceAsmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAsmxSoap"
                contract="ServiceReference1.WebServiceAsmxSoap" name="WebServiceAsmxSoap" />
        </client>
    </system.serviceModel>
</configuration>